body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f8f2f1;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 55px;
}

.feed-container {
  width: 80%;
  max-width: 600px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-item {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-item img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.feed-item .content {
  padding: 15px;
}

.content.profile-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ccc;
}

.feed-item .content p {
  margin: 5px 0;
  font-size: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info .profile-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

.get-tomato-sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 7px;
  font-size: 13px;
  padding: 5px;
  margin-top: 10px;
  height: 30px;
}

.get-tomato-sum .tomato {
  width: 20px;
  margin-left: auto;
}

.icon-container {
  display: flex;
  justify-content: left;
  margin-top: 10px;
}

.icon-container img {
  width: 13px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

.plus-icon img {
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 35px;
}
.custom-popup {
  justify-items: center;
}

/* 피드 생성 아이콘 눌렀을 때 나오는 모달ㄹ창 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(226 226 226 / 93%);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: #fbfbfb;
  padding: 20px;
  border-radius: 30px;
  width: 75%;
  height: 50%;
  position: relative;
}
/* 부모요소때문에 방해되던 정렬을 왼쪽으로 바꿈 (유저id) */
.left-align {
  display: flex;
  align-self: flex-start;
}

.profile-img {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 8px;
}

.close {
  position: absolute;
  top: 18px;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.close:hover {
  color: #000;
  opacity: 0.7;
}
.upload-container {
  margin-top: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 80%;
  font-size: 12px;
}

.upload-container:hover {
  border-color: #888;
}

.upload-container p {
  margin: 0;
  color: #888;
}

#imageUpload {
  display: none;
}
.custom-file-upload {
  font-size: 13px;
  color: #a9a9a9;
}

.file-name {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
#postContent {
  width: 80%;
  margin-top: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  border-color: #f0f0f0;
}
.get-tomato-sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 7px;
  font-size: 13px;
  padding: 5px;
  margin-top: 10px;
  height: 30px;
  width: 80%;
}

.get-tomato-sum .tomato {
  width: 20px;
  margin-left: auto;
}

.create-button {
  background-color: #c5373d;
  color: #fff;
  border: #c5373d;
  border-radius: 50px;
  width: 30%;
  height: 44px;
  font-size: 15px;
  margin-top: 20px;
}
.create-button:hover {
  font-weight: 900;
  background-color: #cb2931;
}

/* 태블릿 스타일 */
@media screen and (min-width: 768px) {
  .modal-content {
    max-width: 700px;
  }
  .upload-container {
    font-size: 15px;
  }
  #postContent {
    font-size: 20px;
  }
  .create-button {
    width: 30%;
    height: 50px;
    font-size: 20px;
  }
}
